  .loading {
    width: 100%;
    height: 80vh;
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
  }

  .loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid $primary-color;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: $text-color;
    font-size: 1.4rem;
    animation: loadingRate 800ms linear infinite;
  }

  @keyframes loadingRate {
    to {
      transform: rotate(-360deg);
    }
  }
