$primary-color: #ee4d2d;
$white-color: #fff;
$black-color: #000;
$text-color: #333;
$border-color: #dbdbdb;
$star-gold-color: #ffce3e;

$navbar-height: 34px;
$header-height: 120px;
$header-with-search-height: calc($header-height - $navbar-height);


